body {
	background-image:url("images/black.jpg");
	font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
	color:#00ff0c;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
	color:#7809b5;
	font-family: "Comic Sans MS", cursive, sans-serif;
}