body {
	background-image:url("images/DabZkc_XkAANLoi.jpeg");
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-position: center; 
}
h1 {
	color:#E65E12;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
	color:#7809b5;
	font-family: "Comic Sans MS", cursive, sans-serif;
}